<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<p th:text="${user.getId()}">ID</p>
<p th:text="${user.getName()}">NAME</p>
<p th:text="${user.getLastName()}">LASTNAME</p>
<p th:text="${user.getEmail()}">EMAIL</p>
<hr/>
<a th:href="@{/users/edit}">Edit</a>
<hr/>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>